<form (ngSubmit)="createProject()" [formGroup]="projectForm">
    <label>Project Name</label>
    <input id="projectName" type="text" formControlName="projectName">
    <span *ngIf="projectForm.valid == false && projectForm.dirty == true" class="warning">This field is required.</span>
    <br>
    <label>Lead Developer</label>
    <input id="leadDeveloper" type="text" formControlName="leadDeveloper">
    <br>
    <label>Project Scope:</label>
    <input id="projectScope" type="text" formControlName="projectScope">
    <br>
    <label>Due Date:</label>
    <br>
    <div class="input-group">
      <input formControlName="dueDate" class="form-control" placeholder="yyyy-mm-dd"
             name="dp"  ngbDatepicker #d="ngbDatepicker">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
      </div>
    </div>
    <button type="submit"  class="btn btn-secondary">Save</button>
</form>

{{projects.dueDate}}
{{projectForm.value.dueDate | date:'short'}}
<br>Dirty: {{projectForm.dirty}}
<br>Touched: {{projectForm.touched}}
<br>Valid: {{projectForm.valid}}
<br>Value: {{projectForm.value | json}}
