<header>
  <div class="logo">Project Tracker<a (click)="logOut()">Log-out</a></div>
  <a [routerLink]="['intake']">Intake Form</a>

</header>
<div class="row">
  <div class="col-2">
      <nav>

      <ul>
         <li *ngIf="isAdmin === 'admin'"><a [routerLink]="['admin']" routerLinkActive="router-link-active">Admin</a></li>
        <li><a [routerLink]="['dash']" routerLinkActive="router-link-active" >Home</a></li>
        <li><a [routerLink]="['projects']" routerLinkActive="router-link-active" >Projects</a></li>
        <li><a [routerLink]="['projects/0/details/edit']" routerLinkActive="router-link-active" >Create</a></li>
      </ul>
    </nav>
  </div>
  <div class="col-10">
    <div class="container">
      <div class="content" >
          <router-outlet></router-outlet></div>
      </div>
    </div>
</div>


