
header {
  background: grey;
  height: 70px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  .logo{
    padding: 20px;
  }
}
.row {

  margin-top: 70px;

  .col-2{
    padding: 0;
  }
  nav{
    background: red;
    position: fixed;
    width: 200px;
    height: 100vh;


    ul{
      list-style-type: none;
    }
  }
}

