/* You can add global styles to this file, and also import other style files */
@import"~bootstrap/dist/css/bootstrap.min.css";
html {

overflow-x: hidden;
  width: 100vw;
}

.row{
  padding: 0;
  margin: 0
}
